// partial styles for global variables
// those are global settings: variables / mixins
// usage: @import 'global';

$defaultTitleColor: #343a40;
$defaultTextColor: #868e96;
$defaultBgColor: #212529;
$linkDefaultColor: #fec503;
$linkActiveColor: #555;
$linkBgColor: white;
$linkHoverColor: black;

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1119px;
$screen-lg-min: 1200px;

$canvas-theme-path: '~res/canvas-theme/';
$root-path: '~res/';
