// partial styles for global variables
// those are global settings: variables / mixins
// usage: @import 'global';

$defaultTitleColor: #253041;
$defaultTextColor: white;
$linkActiveColor: #004080;
$linkHoverColor: black;
$maroonColor: #8e0629;

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1119px;
$screen-lg-min: 1200px;

$canvas-theme-path: '~res/canvas-theme/';
$owl-carousel-path: '~res/owlcarousel/';
$root-path: '~res/';