// partial styles
@import '../global';

.progressbar {
  $progressBarHeight: 23px;
  position: relative;
  height: $progressBarHeight;
  .progressdots{
    list-style-type: none;
    li{
      cursor: pointer;
      position: absolute;
      z-index: 2;
      left: 0;
      top: -27px;
      color: white;
      &::before {
        content: ' \25CF';
        font-size: 50px;
      }
      span{
        position: absolute;
        left: 0;
        top: 30px;
        text-align: center;
        width: 30px;
        color: $defaultBgColor;
      }
    }
    .current-dot{
      color: #fec503;
    }
  }
  .progressbackground{
    z-index: 1;
    position: absolute;
    top: 10px;
    width: 100%;
    height: 4px;
    background-color: #fec503;
  }
}

@media only screen and (max-width: $screen-xs-max) {

}

@media only screen and (min-width: $screen-sm-min) and (max-width: $screen-md-max) {

}
// @media only screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {}
